/* 这个文件专门来实现 登录页面 的样式 */
.login-container {
    width: 100%;
    height: calc(100% - 70px);
    /* 为了让内部的登录对话框能够垂直水平居中, 使用 flex 布局来实现 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container .phone .a1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0a001f;
    text-decoration: none;
}


.login-dialog {
    width: 400px;
    height: 380px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.login-dialog h3 {
    text-align: center;
    padding: 50px 0;
}



.login-dialog .row {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-dialog .row span {
    display: block;
    /* 设置固定宽度, 能让文字和后面的输入框之间有间隙 */
    width: 100px;
    font-weight: 700;
}

.login-dialog #username,
.login-dialog #password,
.login-dialog #required,
.login-dialog #code,
.login-dialog #phoneNumber,
.login-dialog #email,
.login-dialog #emailcode{
    width: 200px;
    height: 40px;
    font-size: 20px;
    text-indent: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.login-dialog .submit-row {
    margin-top: 10px;
}

.login-dialog #submit,
.login-dialog #getcode,
.login-dialog #sendCode{
    width: 300px;
    height: 50px;
    color: white;
    background-color: rgb(0, 128, 0);
    border: none;
    border-radius: 10px;
    font-size: 20px;
}


.login-dialog #submit:active {
    background-color: #666;
}