<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ProblemMapper">

    <insert id="insert" parameterType="com.example.demo.pojo.Problem">
        insert into oj_table values (0,#{title},#{level},#{description},#{template},#{testCode})
    </insert>

    <update id="updateById" >
        update oj_table set title=#{title},level=#{level},
                            description=#{description},template=#{template},
                            testCode=#{testCode} where id=#{id}
    </update>

    <delete id="delete">
        delete from oj_table where id=#{id}
    </delete>

    <select id="selectAll" resultType="com.example.demo.pojo.Problem">
        select id,title,level from oj_table
    </select>

    <select id="selectOne" resultType="com.example.demo.pojo.Problem">
        select * from oj_table where id = #{id}
    </select>


    <select id="selectByLikeTitle" resultType="com.example.demo.pojo.Problem">
        select id,title from oj_table where title like '%${likeTitle}%'
    </select>

</mapper>