<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">


    <insert id="insert" parameterType="com.example.demo.pojo.User">
        insert into user(id, username, password,isAdmin,salt) values (0,#{username},#{password},0,#{salt})
    </insert>

    <update id="update">
        update user set password=#{password} where id=#{id}
    </update>


    <delete id="delete" >
        delete from user where id=#{id}
    </delete>

    <select id="selectAll" resultType="com.example.demo.pojo.User">
        select id,username,password,isAdmin from user
    </select>

    <select id="selectById" resultType="com.example.demo.pojo.User" parameterType="int">
        select * from user where id=#{id}
    </select>
    <select id="selectByName" resultType="com.example.demo.pojo.User" parameterType="java.lang.String">
        select * from user where username like #{username}
    </select>
    <select id="selectByNameAndId" resultType="com.example.demo.pojo.User">
        select * from user where id=#{id} and username=#{username}
    </select>

    <select id="selectByLikeName" resultType="com.example.demo.pojo.User" parameterType="java.lang.String">
        select * from user where username like #{likeName}
    </select>

</mapper>